{% extends 'base.html' %}

{% block title %}
    About
{% endblock title %}

{% block body %}
<header>
    <nav>
        <div>
            <h2>GreenField</h2>
        </div>
        <div>
            <a href="">Home</a>
            <a href="">Buy</a>
            <a href="">Rent</a>
            <a href=""><b>About</b></a>
            <a href="">Blog</a>
            <a href="">Login</a>
            <i class="fa-solid fa-magnifying-glass"></i>
            <img src="" alt="profile-image">
        </div>
    </nav>

<!-- ABOVE THE FOLD -->
    <div class="about-img">
        <img src="" alt="anout-header-image">
        <h1>About</h1>
    </div>

    <div class="about-details">
        <div class="img-con">
            <img src="" alt="image-detail">
        </div>
        <div class="about-text">
            <div class="about-button">
                <button>ABOUT</button>
                <button>SERVICES</button>
                <button>HISTORY</button>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore modi fugit recusandae numquam ipsa doloribus nam illo alias totam non consequuntur mollitia eveniet ab, optio tempora temporibus rerum praesentium esse!</p>
            <h3>CONTACT US <i class="fa-solid fa-right-long"></i></h3>
        </div>
    </div>

    <!-- GOAL -->
    <div class="about-goal">
        <div class="goal-text">
            <h2>our goal</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum earum dolorem blanditiis quo.</p>
        </div>
        <div class="goal-icon">
            <div class="icon">
                <i class="fa-solid fa-family"></i>
                <h4>10,000</h4>
                <p>Homes</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-family"></i>
                <h4>3,500</h4>
                <p>Sold</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-family"></i>
                <h4>5,400</h4>
                <p>Rented</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-family"></i>
                <h4>104</h4>
                <p>Cities</p>
            </div>
        </div>
    </div>
<!-- LOCATON -->

    <div class="about-location">
        <h2>Location</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur est harum ab cum accusantium.</p>
        <img src="" alt="">
    </div>

<!-- OUR TEAM -->
    <div class="about-our-team">
        <h1>our team</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur est harum ab cum accusantium.</p>
        <div class="our-team-pictures">
            <div class="img">
                <img src="" alt="Founder-image">
                <h3>aliko danco</h3>
                <p>founder</p>
            </div>
            <div class="img">
                <img src="" alt="Founder-image">
                <h3>aliko danco</h3>
                <p>founder</p>
            </div>
            <div class="img">
                <img src="" alt="Founder-image">
                <h3>aliko danco</h3>
                <p>founder</p>
            </div>
            <div class="img">
                <img src="" alt="Founder-image">
                <h3>aliko danco</h3>
                <p>founder</p>
            </div>
        </div>
    </div>

<!-- WHAT WE DO -->
    <div class="about-what-we-do">
        <div class="story-about-us-pic">
            <img src="" alt="company-property-image">
        </div>
        <div class="story-about-us-text">
            <h1>What we do</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores tempora incidunt dolorem ea sequi libero non aliquam fuga iure.!</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maxime distinctio id ratione quisquam non sed commodi unde, sint eum fugiat vero, saepe eligendi. Natus temporibus similique aspernatur expedita perspiciatis.
            In facilis commodi suscipit iusto? Magni adipisci magnam veritatis, asperiores possimus eveniet officiis corporis soluta vero laborum consequuntur perspiciatis ex tenetur, nisi facere eligendi repudiandae nostrum suscipit? Beatae, dolores omnis.
            </p>
            <h3>CONTACT US <i class="fa-solid fa-right-long"></i></h3>
        </div>
    </div>

<!-- FOOTER -->
    <footer>
        <div class="greenfield-footer">
            <div class="greenfield">
                <div class="line"></div>
                <h3>GreenField</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, esse vitae velit quae impedit aliquam dolorum a nam libero accusamus dolores.</p>
            </div>

            <div class="greenfield-footer-detail">
                <div class="line"></div>
                <h3>Services</h3>
                <ul>
                    <li>property sales</li>
                    <li>property rent</li>
                    <li>property agent</li>
                    <li>consultant</li>
                </ul>
            </div>

            <div class="greenfield-footer-detail">
                <div class="line"></div>
                <h3>Company</h3>
                <ul>
                    <li>about</li>
                    <li>testimonial</li>
                    <li>blog</li>
                    <li>FAQs</li>
                    <li>privacy policy</li>
                </ul>
            </div>

            <div class="greenfield-footer-detail">
                <div class="line"></div>
                <h3>Connect with us</h3>
                <ul>
                    <li>42 montgomery road sabo yaba, lagos</li>
                    <li>info@greenfield.com</li>
                    <li>0803-2344-898</li>
                </ul>
                <div class="footer-icon">
                    <i class="fa-solid fa-right-long"></i>
                    <i class="fa-solid fa-right-long"></i>
                    <i class="fa-solid fa-right-long"></i>
                    <i class="fa-solid fa-right-long"></i>
                </div>
            </div>
        </div>
        <div class="greenfield-footer-below">
            <div class="line"></div>
            <div class="greenfield-footer-below-detail">
                <h3>GreenField property</h3>
                <p>@ All simple right reserved</p>
            </div>
            <div class="line"></div>
        </div>
    </footer>
</header>
{% endblock body %}
