{% extends 'base.html' %}


{% block title %}
    Home
{% endblock title %}

{% block body %}

<header>
    <nav>
        <div>
            <h2>GreenField</h2>
        </div>
        <div>
            <a href=""><b>Home</b></a>
            <a href="">Buy</a>
            <a href="">Rent</a>
            <a href="">About</a>
            <a href="">Blog</a>
            <a href="">Login</a>
            <i class="fa-solid fa-magnifying-glass"></i>
            <img src="" alt="profile-image">
        </div>
    </nav>
    <div class="above-the-fold">
        <img src="" alt="header-image">
        <div class="text">
            <h1>We help you find modern aparetment for rent or buy</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab deleniti reprehenderit dolorem asperiores et dolore tempora, suscipit veniam. </p>
            <h3>FIND APARTMENT <i class="fa-solid fa-right-long"></i></h3>
        </div>
    </div>

    <div class="company-logo">
        <img src="" alt="company-logo">
        <img src="" alt="company-logo">
        <img src="" alt="company-logo">
        <img src="" alt="company-logo">
        <img src="" alt="company-logo">
        <img src="" alt="company-logo">
    </div>

    <!-- BUY PROPERTY -->
    <div class="buy-property">
        <div class="property-text">
            <h1>Featured properties for sale</h1>
            <div class="property-text-mini">
                <p>Has been bringing buyers and sellers together since 1997 by providing them.</p>
                <div class="direction">
                    <a href="">next <i class="fa-solid fa-right-long"></i></a>
                    <a href="">previous <i class="fa-solid fa-left-long"></i></a>
                </div>
            </div>
        </div>

        <div class="property-detail">
            <div class="square">
                <img src="" alt="poperty-image">
                <h5>Sold</h5>
                <div class="propert-detail-text">
                    <h3>$200M</h3>
                    <h5><i class="fa-light fa-eye"></i>200 Views</h5>
                    <h5><i class="fa-light fa-heart"></i>54 Likes</h5>
                </div>
                <div class="property-detail-textdetail">
                    <h3>residential apartment ikoyi, lagos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias deleniti adipisci, quod, ullam laudantium quaerat sequi.</p>
                    <h3>VIEW PROPERTY<i class="fa-solid fa-right-long"></i></h3>
                </div>
            </div>

            <div class="square">
                <img src="" alt="poperty-image">
                <h5>avaliable</h5>
                <div class="propert-detail-text">
                    <h3>$200M</h3>
                    <h5><i class="fa-light fa-eye"></i>200 Views</h5>
                    <h5><i class="fa-light fa-heart"></i>54 Likes</h5>
                </div>
                <div class="property-detail-textdetail">
                    <h3>residential apartment ikoyi, lagos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias deleniti adipisci, quod, ullam laudantium quaerat sequi.</p>
                    <h3>VIEW PROPERTY<i class="fa-solid fa-right-long"></i></h3>
                </div>
            </div>

            <div class="square">
                <img src="" alt="poperty-image">
                <h5>avaliable</h5>
                <div class="propert-detail-text">
                    <h3>$200M</h3>
                    <h5><i class="fa-light fa-eye"></i>200 Views</h5>
                    <h5><i class="fa-light fa-heart"></i>54 Likes</h5>
                </div>
                <div class="property-detail-textdetail">
                    <h3>residential apartment ikoyi, lagos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias deleniti adipisci, quod, ullam laudantium quaerat sequi.</p>
                    <h3>VIEW PROPERTY<i class="fa-solid fa-right-long"></i></h3>
                </div>
            </div>
        </div>
    </div>
    <!-- RENT PROPERTY -->
    <div class="rent-property">
        <div class="property-text">
            <h1>Featured properties for rent</h1>
            <div class="property-text-mini">
                <p>Has been bringing buyers and sellers together since 1997 by providing them.</p>
                <div class="direction">
                    <a href="">next <i class="fa-solid fa-right-long"></i></a>
                    <a href="">previous <i class="fa-solid fa-left-long"></i></a>
                </div>
            </div>
        </div>

        <div class="property-detail">
            <div class="square">
                <img src="" alt="poperty-image">
                <h5>avaliable</h5>
                <div class="propert-detail-text">
                    <h3>$2,000.00 / Mo</h3>
                    <h5><i class="fa-light fa-eye"></i>200 Views</h5>
                    <h5><i class="fa-light fa-heart"></i>54 Likes</h5>
                </div>
                <div class="property-detail-textdetail">
                    <h3>residential apartment ikoyi, lagos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias deleniti adipisci, quod, ullam laudantium quaerat sequi.</p>
                    <h3>VIEW PROPERTY<i class="fa-solid fa-right-long"></i></h3>
                </div>
            </div>

            <div class="square">
                <img src="" alt="poperty-image">
                <h5>avaliable</h5>
                <div class="propert-detail-text">
                    <h3>$2,000.00 / Mo</h3>
                    <h5><i class="fa-light fa-eye"></i>200 Views</h5>
                    <h5><i class="fa-light fa-heart"></i>54 Likes</h5>
                </div>
                <div class="property-detail-textdetail">
                    <h3>residential apartment ikoyi, lagos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias deleniti adipisci, quod, ullam laudantium quaerat sequi.</p>
                    <h3>VIEW PROPERTY<i class="fa-solid fa-right-long"></i></h3>
                </div>
            </div>

            <div class="square">
                <img src="" alt="poperty-image">
                <h5>Rented</h5>
                <div class="propert-detail-text">
                    <h3>$2,000.00 / Mo</h3>
                    <h5><i class="fa-light fa-eye"></i>200 Views</h5>
                    <h5><i class="fa-light fa-heart"></i>54 Likes</h5>
                </div>
                <div class="property-detail-textdetail">
                    <h3>residential apartment ikoyi, lagos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias deleniti adipisci, quod, ullam laudantium quaerat sequi.</p>
                    <h3>VIEW PROPERTY<i class="fa-solid fa-right-long"></i></h3>
                </div>
            </div>
        </div>
    </div>
    <!-- HOW IT WORKS -->
    <div class="how-it-works">
        <img src="" alt="">
        <div class="how-it-works-text">
            <h1>How it works</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum possimus velit aut sit sunt a aspernatur pariatur.</p>

            <div class="how-it-works-details">
                <div class="a">
                    <div class="icon">
                        <i class="fa-solid house"></i>
                    </div>
                    <p>search for property of your choice</p>
                </div>
                <div class="b">
                    <div class="icon">
                        <i class="fa-solid house"></i>
                    </div>
                    <p>fill a form to get started</p>
                </div>
                <div class="c">
                    <div class="icon">
                        <i class="fa-solid house"></i>
                    </div>
                    <p>meet the property agent</p>
                </div>
                <div class="d">
                    <div class="icon">
                        <i class="fa-solid house"></i>
                    </div>
                    <p>Make payment and own a property</p>
                </div>
            </div>
        </div>
    </div>

    <!-- LITTLE STORY ABOUT US -->
    <div class="story-about-us">
        <div class="story-about-us-pic">
            <img src="" alt="company-property-image">
        </div>
        <div class="story-about-us-text">
            <h1>Little story about us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores tempora incidunt dolorem ea sequi libero non aliquam fuga iure.!</p><br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi maxime distinctio id ratione quisquam non sed commodi unde, sint eum fugiat vero, saepe eligendi. Natus temporibus similique aspernatur expedita perspiciatis.
            In facilis commodi suscipit iusto? Magni adipisci magnam veritatis, asperiores possimus eveniet officiis corporis soluta vero laborum consequuntur perspiciatis ex tenetur, nisi facere eligendi repudiandae nostrum suscipit? Beatae, dolores omnis.
            </p>
            <h3>CONTACT US <i class="fa-solid fa-right-long"></i></h3>
        </div>
    </div>

    <!-- WHAT PEOPLE SAY ABOUT US -->
    <div class="what-people-say">
        <div class="what-people-say-text">
            <h1>what people say about us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, reprehenderit architecto! Voluptates esse assumenda reprehenderit ipsam, dolore.</p>
        </div>
        <div class="what-people-say-text-and-image">
            <div>
                <img src="" alt="">
            </div>
            <div>
                <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio cupiditate eum odit, aspernatur expedita itaque ipsam nihil perferendis eos repudiandae. Incidunt quam officia et aut quos cupiditate veniam assumenda necessitatibus."</p><br>
                <h3>Bankole Blessing</h3>
                <p>lead developer, google</p>
            </div>
        </div>
    </div>

    <!-- OUR LATEST-ARTICLE -->
    <div class="our-latest-article">
        <div class="our-latest-article-text">
            <h1>what people say about us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, reprehenderit architecto! Voluptates esse assumenda reprehenderit ipsam, dolore.</p>
        </div>
        <div class="article-square">
            <div class="article-square-detail">
                <img src="" alt="poperty-image">
                <h3>Environment</h3>
                <div class="property-detail-textdetail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias deleniti adipisci, quod, ullam laudantium quaerat sequi.</p>
                </div>
            </div>
            <div class="article-square-detail">
                <img src="" alt="poperty-image">
                <h3>Construction</h3>
                <div class="property-detail-textdetail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias deleniti adipisci, quod, ullam laudantium quaerat sequi.</p>
                </div>
            </div>
            <div class="article-square-detail">
                <img src="" alt="poperty-image">
                <h3>Interior</h3>
                <div class="property-detail-textdetail">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias deleniti adipisci, quod, ullam laudantium quaerat sequi.</p>
                </div>
            </div>
        </div>
        <div class="article-direction">
            <a href="">next <i class="fa-solid fa-right-long"></i></a>
            <a href="">previous <i class="fa-solid fa-left-long"></i></a>
        </div>
    </div>
    <!-- SUBSCRIBE -->
    <div class="subscribe">
        <div class="subscribe-text">
            <h1>subscribe to our newsletter</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore corporis architecto corrupti maxime sapiente.</p>
        </div>
        <form>
            <input type="email" name="email" placeholder="Enter your email here">
            <input type="submit" value="submit">
        </form>
    </div>

<!-- BELOW THE FOLD -->    
    <footer>
        <div class="greenfield-footer">
            <div class="greenfield">
                <div class="line"></div>
                <h3>GreenField</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, esse vitae velit quae impedit aliquam dolorum a nam libero accusamus dolores.</p>
            </div>

            <div class="greenfield-footer-detail">
                <div class="line"></div>
                <h3>Services</h3>
                <ul>
                    <li>property sales</li>
                    <li>property rent</li>
                    <li>property agent</li>
                    <li>consultant</li>
                </ul>
            </div>

            <div class="greenfield-footer-detail">
                <div class="line"></div>
                <h3>Company</h3>
                <ul>
                    <li>about</li>
                    <li>testimonial</li>
                    <li>blog</li>
                    <li>FAQs</li>
                    <li>privacy policy</li>
                </ul>
            </div>

            <div class="greenfield-footer-detail">
                <div class="line"></div>
                <h3>Connect with us</h3>
                <ul>
                    <li>42 montgomery road sabo yaba, lagos</li>
                    <li>info@greenfield.com</li>
                    <li>0803-2344-898</li>
                </ul>
                <div class="footer-icon">
                    <i class="fa-solid fa-right-long"></i>
                    <i class="fa-solid fa-right-long"></i>
                    <i class="fa-solid fa-right-long"></i>
                    <i class="fa-solid fa-right-long"></i>
                </div>
            </div>
        </div>
        <div class="greenfield-footer-below">
            <div class="line"></div>
            <div class="greenfield-footer-below-detail">
                <h3>GreenField property</h3>
                <p>@ All simple right reserved</p>
            </div>
            <div class="line"></div>
        </div>
    </footer>
</header>



{% endblock body %}

